/* основной цвет текста - #212121 */
/* вторичный цвет текста - #757575 */
/* акцент - #2196F3 */
/* белый - #FFFFFF */
:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-background-color:#fff;
    --secondary-background-color:#2F303A;
    --third-background-color:#F5F4FA;
    --primary-text-color-theme-light:#212121;
    --secondary-text-color-theme-light:#757575;
    --third-text-color-theme-dark:rgba(255, 255, 255, 0.6);
    --primary-text-color-theme-dark: #FFFFFF;
    --accent-color:#2196F3;
    --logo-color:#000000;
    --order-button-background-color: #188CE8;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color-theme-light);
    font-family: var(--primary-font);
    letter-spacing: 0.03em;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.text {
    color: var(--secondary-text-color-theme-light);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* HEADER */

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    color: var(--logo-color);
}

.logo-web {
    color: var(--accent-color);
}

/* Site nav */

.site-nav .link {
    color: var(--primary-text-color-theme-light);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--primary-text-color-theme-light);
}

/* CONTACTS - HEADER */

.contact-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--secondary-text-color-theme-light);
}

.contact-email,
.contact-phone {
    color: var(--secondary-text-color-theme-light);
}

.adress-city:hover,
.adress-city:focus,
.contact-email:hover,
.contact-email:focus,
.contact-phone:hover,
.contact-phone:focus {
    color: var(--accent-color);
}

/* HERO */

.hero {
    background-color: var(--secondary-background-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-background-color);
}

.button-order {
    font-weight: 700;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.86;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: var(--primary-text-color-theme-dark);
    background-color: var(--accent-color);
}

.button-order:hover,
.button-order:focus {
    background-color: var(--order-button-background-color);
}

/* Section */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

color: var(--primary-text-color-theme-light);
}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.text {
    font-size: 14px;
    line-height: 1.71;

    color: var(--secondary-text-color-theme-light);
}

/* Our Team */

.team {
    background-color: var(--third-background-color);
}

.team-card {
    background-color: var(--primary-background-color);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-job-title {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color: var(--secondary-text-color-theme-light)
}

/* FOOTER */
.page-footer {
    background-color: var(--secondary-background-color);
}

.logo-footer {
    color: var(--primary-text-color-theme-dark);
}

.adress-list {
    font-family: var(--primary-font);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.adress-city {
    color: var(--primary-text-color-theme-dark);
}

.contact-footer a {
    color: var(--third-text-color-theme-dark);
}

/* ==================================== */
/* PORTFOLIO */
/* ==================================== */

.site-choise-btn {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    cursor: pointer;

    background-color: var(--third-background-color);
    color: var(--primary-text-color-theme-light);
}

.site-choise-btn:hover,
.site-choise-btn:focus {
    background-color: var(--accent-color);
    color: var(--primary-text-color-theme-dark);
}

.site {
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;
}

.site-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;

    color: var(--primary-text-color-theme-light);
}

.site-type {
    font-size: 16px;
    line-height: 1.88;

    color: var(--secondary-text-color-theme-light);
}